#!/usr/bin/env bash

# Update PATH to include local node modules and scripts
export PATH="$PATH:$PWD/node_modules/.bin:$PWD/scripts"

# Locks the project name for Docker Compose in this branch
export COMPOSE_PROJECT_NAME=ajhalili2006-blog